---
import { Image } from 'astro:assets'
---

<nav class="w-screen px-3 py-2 flex items-center gap-2 fixed z-10">
  <a class="flex items-center gap-1" href="https://2048.club">
    <Image
      src="/logo.webp"
      alt="2048Club Logo"
      width={30}
      height={30}
      loading="eager"
    />

    <span class="font-bold text-xl sm:text-2xl text-page-bg">2048.club</span>
  </a>
</nav>
